<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ApproachMeEamil" value="info@enabling.systems" />
    <add key="BCC" value="fawad@approachme.net" />
    <add key="FROM" value="info@enabling.systems" />
    <add key="SMTP_USERNAME" value="AKIAIFDHJROVRDG65NUA" />
    <add key="SMTP_PASSWORD" value="Al0PM1p9QnVbio4fYNErcoK2N2uPRDZsYeeT3xc/i83j" />
    <add key="HOST" value="email-smtp.us-west-2.amazonaws.com" />-->
    <add key="ApproachMeEamil" value="ali.tufail@approachme.net"/>
    <add key="BCC" value="ali.tufail@approachme.net"/>
    <add key="FROM" value="info@enabling.systems"/>
    <add key="SMTP_USERNAME" value="AKIAIFDHJROVRDG65NUA"/>
    <add key="SMTP_PASSWORD" value="Al0PM1p9QnVbio4fYNErcoK2N2uPRDZsYeeT3xc/i83j"/>
    <add key="HOST" value="email-smtp.us-west-2.amazonaws.com"/>
    <add key="BUILDS_TEMP_DIRECTORY" value="\uploads\temp\"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <error statusCode="400" path="D:\InetPub\vhosts\battlespacex.com\error_docs\bad_request.html"/>
      <error statusCode="407" path="D:\InetPub\vhosts\battlespacex.com\error_docs\proxy_authentication_required.html"/>
      <error statusCode="414" path="D:\InetPub\vhosts\battlespacex.com\error_docs\request-uri_too_long.html"/>
      <error statusCode="415" path="D:\InetPub\vhosts\battlespacex.com\error_docs\unsupported_media_type.html"/>
      <error statusCode="503" path="D:\InetPub\vhosts\battlespacex.com\error_docs\maintenance.html"/>
      <error statusCode="401" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\unauthorized.html"/>
      <error statusCode="403" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\internal_server_error.html"/>
      <error statusCode="501" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="D:\InetPub\vhosts\battlespacex.com\error_docs\bad_gateway.html"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>